svg path { fill: #fff }

#github svg:hover path { fill: #181717; }
#protonmail svg:hover path { fill: #8B89CC; }
#keybase svg:hover path { fill: #33A0FF; }
#telegram svg:hover path { fill: #26A5E4; }
#linkedin svg:hover path { fill: #0A66C2; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8d3c3c;
}

h1 {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

p {
    font-family: monospace;
    color: #fff;
}